.article {
  margin-top: 16px;
}
.load-more {
  width: 100%;
  border: 1px solid #000;
  box-sizing: border-box;
  padding: 16px;
  text-align: center;
  margin-top: 16px;
  cursor: pointer;
}
.loading {
  width: 100%;
  box-sizing: border-box;
  text-align: center;
}
