.container {
  border: 1px solid #000;
  padding: 8px;

  a {
    cursor: pointer;
    color: #000;
    text-decoration: none;
  }
}

.title {
  font-size: 24px;
}

.author {
  margin-top: 8px;
  font-size: 20px;
}

.date {
  font-size: 12px;
}

.headline {
  margin-top: 8px;
  font-size: 16px;
}
