.container {
  border: 1px solid #000;
  display: flex;
  align-items: center;
  padding: 8px 0px;
}

.input {
  border: none;
  box-sizing: border-box;
  width: 100%;
  font-size: 16px;
  &:focus-visible {
    outline: 0px;
  }
}

.btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
